<label for="">Name: </label>
<input type="text" name="team[name]" value="<%= @team.name %>">
<label for="">Players: </label>
<select name="player1">
  <% Player.all.each do |player| %>
  <option value="<%= player.id %>"><%= player.name %></option>
  <% end %>
</select>
<select name="player2">
  <% Player.all.each do |player| %>
  <option value="<%= player.id %>"><%= player.name %></option>
  <% end %>
</select>
