<h1> Team <%= @team.name %> </h1>

<h3> Edit Team </h3>

<%= form_for @team do |f| %>
Team Name : <%= f.text_field :name %><br>
<br>
<%= f.submit "Submit Edit"%>

  <%= f.fields_for :players do |player| %>
    <%= player.collection_select :id, (Player.all), :id, :name %>
  <% end %> 
  <br>

<%= f.submit%>
<% end  %>

<br>
<%= button_to "Delete Team", {:controller => :teams, :action => 'destroy', :id => @team.id}, :method => :delete, data: {confirm: "This will delete the team. Are you sure?"} %>
