
<h1> Create Your Team! </h1>


<% @team.errors.full_messages.each do |error| %>
<li><font color='red'><%= error %></font></li>
<% end %>
</ul>

<form class="" action="/teams" method="post">
  <label for="">Name: </label>
  <input type="text" name="team[name]" value="<%= @team.name %>"> <br><br>
  <label for="">Players: </label>
  <select name="player1">
    <% Player.all.each do |player| %>
    <option value="<%= player.id %>"><%= player.name %></option>
    <% end %>
  </select> <br><br>
  <select name="player2">
    <% Player.all.each do |player| %>
    <option value="<%= player.id %>"><%= player.name %></option>
    <% end %>
  </select> <br><br>
  <input type="submit" name="" value="Create Team" class="button">
</form>

<%= button_to "Back To All Teams", {:controller => :teams, :action => 'index'}, {:method => :get, class: "button"} %>

<%= render "errors" %>
