
<h1> Create Your Team! </h1>

<%= form_for @team do |f| %>
Team Name : <%= f.text_field :name %><br>
  <%= f.fields_for :players do |player| %>
    <%= player.collection_select :id, (Player.all), :id, :name %>
    <% end %> <br>
  <%= f.fields_for :players do |player| %>
    <%= player.collection_select :id, (Player.all), :id, :name %>
    <% end %> <br>
<%= f.submit "Create", :class => 'button'%>
<% end  %>

<%= button_to "Back To All Teams", {:controller => :teams, :action => 'index'}, {:method => :get, class: "button"} %>
