
<h1> Create Your Team! </h1>

<%= form_for @team do |f| %>
Team Name : <%= f.text_field :name %><br>
  <%= f.fields_for :players do |player| %>
    <%= player.collection_select :id, (Player.all - @team.players), :id, :name %>
    <% end %> <br>
  <%= f.fields_for :players do |player| %>
    <%= player.collection_select :id, (Player.all - @team.players), :id, :name %>
    <% end %> <br>
<%= f.submit "Create"%>
<% end  %>
