<h1>Analytics</h1>
<p>Number of Teams: <%= @num_of_teams %> </p>
<p>Number of Players: <%= @num_of_players %> </p>
<p>Number of Tournaments: <%= @num_of_tours %> </p>
<p>Number of Venues: <%= @num_of_venues %> </p>
<p>Average Age of Players: <%= @avg_age %> </p>
<p>Average Years of Experience of all Players: <%= @avg_exp %> </p>
<p>Most Popular Tournament: <%= @pop_tour %></p>
<p>Most Popular Venue: <%= @pop_venue %></p>
<p>Most Prolific Team: <%= @prolific_team %></p>
