<ul>

<li>Teams: <%= Team.all.count %></li>
<li>Tournaments: <%= Tournament.all.count %></li>
<li>Venues: <%= Venue.all.count %></li>
<li>Players: <%= Player.all.count %></li>
<% Player.all.each do |p| %>
  <li><%= p.name %> is <%= DateTime.now.year - p.birth_date.year %> years old</li>
<% end %>

</ul>
