<h1>Tournaments</h1>
<ul>
<% @tournaments.each do |tournament| %>
<li><%= tournament.pretty_date %> - <%= link_to tournament.name, tournament %> at <%= link_to tournament.venue.name, tournament.venue %></li><br>
<% end %>
</ul>

<%= button_to "New Tournament", {:controller => :tournaments,
  :action => 'new',}, {:method => :get, class: "button"} %>

<%= image_tag "https://i.pinimg.com/originals/44/b0/fd/44b0fd2016f726d61ce186400ca04c0b.jpg", width: '33%', class: 'bottom-right-img'%>
