<h1> <%= @tournament.name %> </h1>
<h2><%= @tournament.date %></h2>
<h2><%= link_to @tournament.venue.name, @tournament.venue %></h2>

<h3>Current Teams</h3>
<ul>
  <% @tournament.teams.each do |team| %>
  <li><%= team.name %></li>
  <ul>
    <% team.players.sort_by(&:name).each do |player| %>
    <li><%= player.name %></li>
    <% end %>
  <%= button_to "Delete", {:controller => :entries,
    :action => 'destroy', :team_id => team.id, :tournament_id => @tournament.id }, {:method => :delete,
    data: {confirm: "This will delete the team from the tournament. Are you sure?"}, class: 'button'} if admin or on_team %>
  </ul>
  <% end %>
</ul>

<%= form_for @entry do |f| %>
<%= f.label :team %>
<%= f.collection_select :team_id, (Team.all - @tournament.teams), :id, :name %>
<%= hidden_field_tag 'entry[tournament_id]', "#{params[:id]}" %> <br>
<%= f.submit :class => 'button'%>
<% end %>

<% case @tournament.teams.count %>
<% when 0 %>
<%= image_tag "http://images4.fanpop.com/image/photos/16200000/Volleyball-mario-sports-mix-wii-16287296-389-480.jpg", width: '500', class: "right_img"%>
<% when 1 %>
<%= image_tag "http://images4.fanpop.com/image/photos/16200000/Volleyball-mario-sports-mix-wii-16287296-389-480.jpg", width: '500', class: "right_img"%>
<% when 2 %>
<%= image_tag "http://images4.fanpop.com/image/photos/16200000/Volleyball-mario-sports-mix-wii-16287296-389-480.jpg", width: '500', class: "right_img"%>
<% when 3 %>
<%= image_tag "http://www.printyourbrackets.com/fillable-brackets/3-seeded-fillable-single-elimination.png", width: '500', class: "right_img"%>
<% when 4 %>
<%= image_tag "http://www.printyourbrackets.com/fillable-brackets/4-single-fillable-bracket.png", width: '500', class: "right_img"%>
<% when 5 %>
<%= image_tag "https://www.printyourbrackets.com/fillable-brackets/5-seeded-fillable-single-elimination.png", width: '500', class: "right_img"%>
<% end %>


<% @entry.errors.full_messages.each do |error| %>
<%= error %>
<% end %>

<%= button_to "Edit Tournament", {:controller => :tournaments,
  :action => 'edit', :id => @tournament.id}, {:method => :get, class: 'button'} if admin %>
