<h1> <%= @tournament.name %> </h1>
<p><%= @tournament.date %></p>
<p><%= link_to @tournament.venue.name, @tournament.venue %></p>

<h3>Current Teams</h3>
<ul>
  <% @tournament.teams.each do |team| %>
  <li><%= team.name %><%= button_to "Delete", {:controller => :entries,
    :action => 'destroy', :team_id => team.id, :tournament_id => @tournament.id }, :method => :delete,
    data: {confirm: "This will delete the team from the tournament. Are you sure?"} %></li>
  <ul>
    <% team.players.sort_by(&:name).each do |player| %>
    <li><%= player.name %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<%= form_for @entry do |f| %>
<%= f.label :team %>
<%= f.text_field :team %>
<%= hidden_field_tag 'tournament_id', "#{params[:id]}" %>
<%= f.submit %>
<% end %>

<!-- <label>Team Sign Up / Create: </label>
<form class="" action="/entries" method="post">
  <input type="text" list="combo-options" id="combobox">
  <datalist id="combo-options">
    <%# (@teams - @tournament.teams).each do |team| %>
    <option name="<%# team %>"><%# team.name %></option>
    <%# end %>
  </datalist>
  <input type="submit" name="" value="Enter Now!">
</form> -->

<% @entry.errors.full_messages.each do |error| %>
<%= error %>
<% end %>

<%= button_to "Edit Tournament", {:controller => :tournaments,
  :action => 'edit', :id => @tournament.id}, :method => :get %>
