<h1> <%= @tournament.name %> </h1>
<p><%= @tournament.date %></p>
<p><%= link_to @tournament.venue.name, @tournament.venue %></p>

<h3>Current Teams</h3>
<ul>
  <% @tournament.teams.each do |team| %>
  <li><%= team.name %></li>
  <ul>
    <% team.players.sort_by(&:name).each do |player| %>
    <li><%= player.name %></li>
    <% end %>
  </ul>
  <% end %>
</ul>

<%= form_for @entry do |f| %>
<%= f.label :team %>
<%= f.text_field :team %>
<%= hidden_field_tag 'tournament_id', "#{params[:id]}" %>
<%= f.submit %>
<% end %>

<!-- <label>Team Sign Up / Create: </label>
<form class="" action="/entries" method="post">
  <input type="text" list="combo-options" id="combobox">
  <datalist id="combo-options">
    <%# (@teams - @tournament.teams).each do |team| %>
    <option name="<%# team %>"><%# team.name %></option>
    <%# end %>
  </datalist>
  <input type="submit" name="" value="Enter Now!">
</form> -->

<% @entry.errors.full_messages.each do |error| %>
<%= error %>
<% end %>

<%= link_to 'DELETE',url_for(action: :destroy,
id: @tournament.id), method: :delete,
data: {confirm: "This will delete the tournament and all entries. Are you sure?"} %>
