<h1> <%= @tournament.name %> </h1>
<p><%= @tournament.date %></p>
<p><%= link_to @tournament.venue.name, @tournament.venue %></p>

<label>Team Sign Up / Create: </label>
<input type="text" list="combo-options" id="combobox">
<datalist id="combo-options">
  <% @teams.each do |team| %>
    <option name="<%= team.id %>"><%= team.name %></option>
  <% end %>
</datalist>
