<h1> <%= @venue.name %> </h1>
<%= image_tag "#{@venue.img_url}", width: '45%', class: 'left-img'%>
<div class="right-txt">
<h2><%= @venue.location %></h2>
<h3>Upcoming Tournaments</h3>
<ul>
  <% @tournaments.each do |tournament| %>
  <li><%= tournament.date.to_formatted_s(:long_ordinal) %> - <%= link_to tournament.name, tournament %></li>
  <% end %>
</ul>

<%= button_to "Edit Venue", {:controller => :venues,
  :action => 'edit', :id => @venue.id},
  {:method => :get, class: 'button'} if admin %>
</div>
