<h1> <%= @venue.name %> </h1>
<p><%= @venue.location %></p>
<h5>Upcoming Tournaments</h5>
<ul>
  <% @tournaments.each do |tournament| %>
  <li><%= tournament.date %> - <%= link_to tournament.name, tournament %></li>
  <% end %>
</ul>

<%= link_to 'DELETE',url_for(action: :destroy,
id: @venue.id), method: :delete,
data: {confirm: "This will delete the venue. Are you sure?"} %>
