<h1> <%= @player.name %> </h1>

<h3>Player Info</h3>
<p> Date Of Birth: <%= @player.birth_date.to_formatted_s(:long_ordinal) %> </p>
<p> Gender: <%= @player.gender %> </p>
<p> Start Date of AVP: <%= @player.start_date.to_formatted_s(:long_ordinal) %> </p>
<p> <%= "Email: #{@player.email}" if @player.id == session[:player_id]%> </p>

<%= button_to "Edit Information", {:controller => :players,
  :action => 'edit', :id => @player.id}, {:method => :get, class: 'button'} if @player.id == session[:player_id] %>
