 <!DOCTYPE html>
<html>
  <head>
    <title>TURNT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <table class= "ribbon">
      <tr>
        <th><%= link_to "Venues", venues_path %></th>
        <th><%= link_to "Tournaments", "/tournaments" %></th>
        <th><%= link_to "Teams", teams_path %></th>
        <th><%= link_to "Players", players_path %></th>
        <th><%= link_to "Analytics", "/analytics" %></th>
        <th><%= logged_in ? (button_to "Log Out", {:controller => :sessions,
        :action => 'destroy'}, {:method => :delete, class: "button upper-right"}) : (button_to "Log In", {:controller => :sessions,
        :action => 'new' }, {:method => :get, class: "button upper-right"}) %> </th>
        <th> <%= button_to "Register", {:controller => :players,
          :action => 'new' }, {:method => :get, class: "button upper-right"} if !logged_in%> </th>
        <th><%= link_to session[:name], Player.find(session[:player_id]) if logged_in %></th>

      </tr>
    </table>
  </head>

  <body>
    <div class="top-spacer"></div>
    <%= yield %>
    <div class="bottom-spacer"></div>
  </body>
  <footer>
    <div class="third"><%= link_to "Contact", "https://media.giphy.com/media/CJbUvNftlDbcQ/giphy.gif", target: :_blank %></div>
    <div class="third"> DorRyu Productions ©</div>
    <div class="third"> by <%= link_to "Brian Ryu", "https://github.com/brianryu", target: :_blank  %> & <%= link_to "James Dorr", "https://github.com/jamesdorr3", target: :_blank  %> ©</div>
  </footer>
</html>
