 <!DOCTYPE html>
<html>
  <head>
    <title>DorrnamentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <table class= "ribbon">
      <tr>
        <th><%= link_to "Venues", venues_path %></th>
        <th><%= link_to "Tournaments", "/tournaments" %></th>
        <th><%= link_to "Teams", teams_path %></th>
        <th><%= link_to "Players", players_path %></th>
        <th><%= link_to "Analytics", "/analytics" %></th>
        <th><%= logged_in ? (button_to "Sign Out", {:controller => :sessions,
        :action => 'destroy'}, {:method => :delete, class: "button"}) : (button_to "Log In", {:controller => :sessions,
        :action => 'new' }, {:method => :get, class: "button"}) %> </th>
        <th> <%= button_to "Register", {:controller => :players,
          :action => 'new' }, {:method => :get, class: "button"} if !logged_in%> </th>
        <th><%= link_to session[:name], Player.find(session[:player_id]) if logged_in %></th>

      </tr>
    </table>
  </head>

  <body>
    <div class="spacer"></div>
    <%= yield %>
    <div class="spacer"></div>
  </body>
  <footer> DorRyu Productions © </footer>
</html>
