 <!DOCTYPE html>
<html>
  <head>
    <title>DorrnamentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <table>
      <tr>
        <th><%= link_to "Venues", venues_path %></th>
        <th><%= link_to "Tournaments", "/tournaments" %></th>
        <th><%= link_to "Teams", teams_path %></th>
        <th><%= link_to "Players", players_path %></th>
        <th><%= link_to "Analytics", "/analytics" %></th>
        <th><%= logged_in ? (button_to "Sign Out", {:controller => :sessions,
        :action => 'destroy'}, :method => :delete) : (button_to "Log In", {:controller => :sessions,
        :action => 'new' }, :method => :get) %> </th>
        <th> <%= button_to "Register", {:controller => :players,
          :action => 'new' }, :method => :get if !logged_in%> </th>
        <th><%= session[:name] %></th>

      </tr>
    </table>
  </head>

  <body>
    <!-- The video -->

    <%= yield %>
  </body>
</html>
